body
{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a 
{
    text-decoration: none;
}

.header
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu
{

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a 
{
    color: black;
    display: inline-block;
    padding: 16px 0px;
    font-size: 18px;


}

.header-menu a:hover
{
    background: #e5e5e5;
    padding: 12px 16px;
    border-radius: 4px;
    transition: 0.3s;
}

@media(max-width: 800px)
{
    .header-menu 
    {
        gap: 20px;
    }
    .header-menu a
    {
        background: #e5e5e5e5;
        padding: 12px 16px;
        border-radius: 4px;
    }
    .header-menu a:hover
    {
       background-color: #e5e5e5e5;
    }
}

@media(max-width: 600px )
{
    header-menu 
    {
        gap: 12px;
    }
    .header-menu a
    {
        
        padding: 8px 12px;
        font-size: 14 px;
        
    }
}
